---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    
    <!-- Use site-logo.png as icon on all pages ----->
    <!-- Added by Zhiqiang on Oct 08, 2018 -->
    <link rel="shortcut icon" type="image/png" href="{{ base_path }}/images/site-logo.png">
    <!----------------------------------------------->
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    </script>


    {% include scripts.html %}

  </body>
</html>
